
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  margin-top: 2em;
}

.account-heading {
  font-size: 2.5rem;
}

.center-items {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.project-img {
  height: 55px;
  width: 55px;
  margin-right: 16px;
}

.about-us-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.about-us-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-us-header {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-us-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.about-us-section {
    background-color: #fff;
    padding: 40px 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-us-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-us-section p, .about-us-section ul {
    line-height: 1.6;
}

.about-us-section ul {
    list-style-type: none;
    padding: 0;
}

.about-us-section ul li {
    margin-bottom: 10px;
}

.about-us-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

.responsive-img {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.why-us-img {
    width: auto;
    height: 600px;
    margin-bottom: 20px;
}

.join-us-img {
    width: auto;
    height: 500px;
    margin-bottom: 20px;
}

.project-detail-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.project-detail-header {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-detail-header h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

.project-detail-section {
    background-color: #fff;
    padding: 20px 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-detail-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.project-detail-section p, .project-detail-section ul {
    line-height: 1.6;
}

.project-detail-section ul {
    list-style-type: none;
    padding: 0;
}

.project-detail-section ul li {
    margin-bottom: 10px;
}

.project-detail-responsive-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.project-description, .project-ratings, .project-feedback {
    margin-bottom: 20px;
}

.project-header {
    text-align: center;
}

.project-header-h2 {
    color: #0f0f0f;
}

.project-header a {
    text-decoration: none;
}

.project-ratings .rating {
    align-items: center;
    margin-bottom: 20px;
}

