{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
{{block.super}}
<body style="color: #f56038; background-color: #0a2f35;">
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img center-items" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading text-center">{{ user.username }}</h2>
            <p class="text-secondary text-center">{{ user.email }}</p>
          </div>
        </div>
        <!-- FORM HERE -->
      </div>
</body>


{% endblock %}